:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

div {
    display: block;
}

*::before {
    box-sizing: border-box;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(images/camping.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    padding: 0 0 0.625rem;
    margin-bottom: 1.875rem;
}

header {
    display: block;
}

.text-center {
    text-align: center;
}

.description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-weight: 400;
    line-height: 1.2;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    font-size: 1.125rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

form {
    background: var(--color-darkblue-alpha);
    border-radius: 0.25rem;
    display: block;
    margin-top: 0em;
    padding: 2.5rem 0.625rem;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    cursor: default;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

input[type="email" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

input[type="number" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    padding: initial;
    border: initial;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

option:disabled {
    color: -internal-light-dark(greytext, rgba(170, 170, 170));
}

option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
}

.input-radio, .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    resize: vertical;
}

input, select, textarea, button {
    display: block;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}

